<h1>Welcome to {{title}}</h1>

<p>This is a place to see who loves beer, and for breweries to share their beers with the world!</p>
 <div>
    Want to see if your friends love beer??? 
 </div>
 <div>
        <a href="/users">Click Here!!!</a>
</div>
<hr>
<div>
    Want to see the Breweries, or want to add your Brewery??
</div>
<div>
      <a href="/breweries">Click Here!!!</a>
</div>

<img src="https://media.giphy.com/media/3o7TKoQ2whJd062fba/source.gif" class="landing" alt="">


