<h1>{{title}}</h1>
<h3>Welcome to {{title}}</h3>

 <div>
    Want to see if your friends love beer??? 
 </div>
 <div>
        <a href="/users">Click Here!!!</a>
</div>
<div>
    Want to see the Breweries, or want to add your Brewery??
</div>
<div>
      <a href="/breweries">Click Here!!!</a>
</div>

<img src="https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA3Mi8yOTcvb3JpZ2luYWwvYmVlci1ib3R0bGUtZm9hbS0xNDExMjUuanBn" class="landing" alt="">


