<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Prociono" rel="stylesheet">
  </head>
  <body>
    <header class="top">
      <h1 id="top1">BREW</h1>
      <img class="logo" src="http://brooklynbrewery.com/blog/wp-content/uploads/2013/06/nyc-craft-beer-tap-600x400.jpg" alt="">
      <h1 id="top2">TAP!</h1>
    </header>
    <div id="container">
    {{{body}}}
    </div>
    <footer>
      Back to the Top
      <div>
      <a href="/">Home</a>
      </div>
    </footer>
  </body>
</html>
