<h1>Home of the Breweries</h1>
<div>
     <div>
        <a href="/users">Back to the Drinkers!</a>
    </div>
    <div>
        <a href="/breweries/new">Make a New Brewery!</a>
    </div>
    {{#each breweries}}
    <div>
        {{this.name}}
        <a href="/breweries/{{this._id}}">Let me see more!</a>
    </div>
    {{/each}}
    <div>
        <img src="http://media.istockphoto.com/photos/barrels-in-brewery-picture-id484958160?k=6&m=484958160&s=612x612&w=0&h=3I1aMqW6M04I5Qi-ntO099sR6ch60ktwNbgKEkO7veE=" alt="">
    </div>
</div>