<form action="/breweries" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="yearBuilt">Year Built</label>
    <input type="number" name="yearBuilt">

    <label for="city">City</label>
    <input type="text" name="city">

    <label for="state">State</label>
    <input type="text" name="state">

    <input type="submit" value="Create">
</form>