
<ul>
<form action="/breweries" method="POST">
    <li>
        <label for="name">Name</label>
        <input type="text" name="name">
    </li>

    <li>
         <label for="yearBuilt">Year Built</label>
         <input type="number" name="yearBuilt">
     </li>
    <li>
        <label for="city">City</label>
        <input type="text" name="city">
    </li>

    <li>
        <label for="state">State</label>
        <input type="text" name="state">
    </li>
    <input type="submit" value="Create">
</form>
</ul>