<h1>This {{brewery.name}} can make some beers!!</h1>

<div>
    <ul>
        <li>Est: {{brewery.yearBuilt}}</li>
        <li>We live in: {{brewery.city}}</li>
        <li>In the great state of: {{brewery.state}}</li>
    </ul>
    <div>
        Want to see their beers???
        <a href="">Beer me Blazer!</a>
    </div>
</div>