body {  
  color: #A4B99F;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: flex;
  /* background: url("http://images.pond5.com/closeup-beer-bubbles-background-footage-025332112_prevstill.jpeg") no-repeat center center fixed;
  background-size: cover; */
  font-size: 25px;
  text-align: center;
  background-color: #184634;
  font-family: 'Prociono', serif;
}

#container {
  background: rgba(0, 0, 0, 0.71)
}

a {
  color: #00B0C7;
  font-size: 20px;
}
.landing{
  width: auto;
  height: 200px;

}
.newUser{
  padding: 40px;
}
ul {
list-style-type:  none;
}

.bmenu{
  padding: 0px;
  margin: 0 0 10px 0;
  position: relative;
}
.bmenu li{
  font-size: 50px;
  display: block;
}

.bmenu li a{
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 6px #fff;
}
.bmenu li a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}

.userBeerPic{
  height: 500px;
  width: auto;
}

